{% extends "main/base.html" %} {% load static %} {% block css_main %}

<style>
  .custom-btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  .button-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem; /* Adjust gap as needed */
    margin-top: 1rem; /* Space between 'Read Now' and other buttons */
  }

  .mt-3 {
    margin-top: 1rem; /* Adds margin-top to the paragraph */
  }

  .col-info p {
    margin: 10px; /* Removes margin between paragraphs */
    line-height: 1.2; /* Adjusts line height to make the space between lines smaller */
  }

  .read-more-btn {
    margin-top: 0.5rem;
    color: white; /* Bootstrap info color */
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    font-size: 1.25rem; /* Same size as the paragraph text */
  }

  .chapter-button {
    margin: 5px;
  }

.chapter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

</style>
{% endblock %} 

{% block content %}
<div class="container content-container">
  <div class="row">
    <div class="col-12 col-md-3 col-img">
      <img
        src="{{ manga.image.url }}"
        style="height: 300px"
        class="rounded border border-light mx-auto"
      />
    </div>

    <div class="col-12 col-md-5 col-content">
      <h2 class="text-white font-weight-bold" style="white-space: nowrap">
        {{ manga.name }}
      </h2>
      <p class="text-secondary">{{ manga.name_in_jap }}</p>
      <button type="button" class="btn btn-warning font-weight-bold">
        Read Now
      </button>

      <div class="button-container">
        {% for type in manga.categories.all %}
        <button type="button" class="btn btn-dark custom-btn-sm">{{ type }}</button>
        {% endfor %}
      </div>

      <p class="mt-3 text-white">
        {{ manga.description }}
      
      </p>
      <button
        type="button"
        class="read-more-btn"
        data-toggle="modal"
        data-target="#readMoreModal"
      >
        + Read full
      </button>
    </div>

    <div class="col-12 col-md-4 col-info text-white">
      <p>Type: {{ manga.category }}</p>
      <p>Status: {{ manga.status }}</p>
      <p>Authors: {{ manga.author }}</p>
      <p>Magazines: {{ manga.magazine }}</p>
      <p>Published: {{ manga.published }}</p>
      <p>Score: {{ manga.score }}</p>
      <p>Views: {{ manga.views }}</p>
      <p>Number of chapters: {{ manga.number_of_chapters }}</p>
    </div>
  </div>
</div>

<hr style="color:white;">

<div class="container">
  <div class="chapter-container">
      {% for chapter in chapters %}
          <button type="button" class="btn btn-dark chapter-button">Chapter {{ chapter }}</button>
      {% endfor %}
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="readMoreModal"
  tabindex="-1"
  aria-labelledby="readMoreModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="readMoreModalLabel">
          {{ manga.name }} Full Description
        </h5>
      </div>
      <div class="modal-body">
        {{ manga.description }}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
