{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center">


  <div>
    
  <div class="container">
    <div class="row">
      <div class="col"> 
        <img src="{% static 'main/cover_pages/jjk_cover.jpeg' %}" style="height:300px" class="rounded border border-light">
      </div>

      <div class="col">
        <h2 class="text-white font-weight-bold">Jujutsu Kaisen</h2>
        <p class="text-secondary">呪術廻戦</p>
      </div>

    </div>
  </div>
</div>
{% endblock %}
