{% extends "main/base.html" %}
{% load static %}


{% block css_main %}
<style>
  html,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div>
    <h2 class="text-white font-weight-bold">Популярные Тайтлы</h2>
  </div>
</div>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/jjk_cover.jpeg' %}" alt="Jujutus Kaisen"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/blue_lock_cover_page.webp' %}" alt="Blue lock"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/one_piece_cover_page.jpeg'%}" alt="Slide 3"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/bleach_cover_page.jpeg'%}" alt="Slide 4"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/tokyo_ghoul_cover_page.jpeg' %}"alt="Slide 5"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/sakamoto_days_cover_page.webp' %}" alt="Slide 6"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/chainsaw_man_cover_page.jpg' %}" alt="Slide 7"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/one_punch_man_cover_page.webp' %}" alt="Slide 8"></div>
    <div class="swiper-slide"><img src="{% static 'main/cover_pages/attack_on_titan_cover_page.jpg' %}" alt="Slide 9"></div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 6,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}