{% extends "main/base.html" %}
{% load static %}


{% block css_main %}
<style>
  html,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .card-img-top {
      height: 300px; /* Adjust the height as needed */
      width: 100%;
      object-fit: cover;
    }

  .card-spacing {
    margin-left: 20px; /* Adjust the margin as needed */
  }
</style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div>
    <h2 class="text-white font-weight-bold">Популярные Тайтлы</h2>
  </div>
</div>


<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for each_manga in manga %}
    <div class="swiper-slide"><a href="{% url "read:read_manga" each_manga.slug %}"><img src='{{ each_manga.image.url }}' alt="{{ each_manga.name }}"></a></div>
    {% endfor %}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>


<div class="d-flex justify-content-start">
  <div>
    <h2 class="text-white font-weight-bold" style="padding-left: 25px; padding-top: 25px;">Подборки</h2>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex">
    <div class="card bg-dark" style="width: 18rem;">
      <img src="{% static 'main/collections_covers/powerful_main.jpeg' %}" class="card-img-top">
      <div class="card-body text-white">
        <h3 class="card-title">Мощьный ГГ</h3>
        <p class="card-text">Коллекция манги с сильным гг</p>
      </div>
    </div>
  </div>

  <div class="d-flex card-spacing">
    <div class="card bg-dark" style="width: 18rem;">
      <img src="{% static 'main/collections_covers/best_manga.jpeg' %}" class="card-img-top">
      <div class="card-body text-white">
        <h3 class="card-title">Топ манги</h3>
        <p class="card-text">Лучшие манги по мнению создателя сайта</p>
      </div>
    </div>
  </div>

  <div class="d-flex card-spacing">
    <div class="card bg-dark" style="width: 18rem;">
      <img src="{% static 'main/collections_covers/anti_hero.jpeg' %}" class="card-img-top">
      <div class="card-body text-white">
        <h3 class="card-title">Анти Герой</h3>
        <p class="card-text">Каково это, противостоят всему миру?</p>
      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 6,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}