{% extends "main/base.html" %}
{% load static %}


{% block content %}

<div class="text-center">
  <h1 class="text-white">
    My profile 
  </h1>
</div>

<div class="container text-center">
  <div class="row align-align-items-center">
    <div class='col'>
      <img src="{% static 'main/collections_covers/powerful_main.jpeg' %}" style="height: 100px;" class="rounded-circle">
    </div>

    <div class="col">
      <h2 class="text-white"> {{ user_name }}</h2>
      <h2 class="text-white"><a href="{% url 'main:change-password' %}">Change password</a></h2>
    </div>
  </div>
</div>


{% endblock %}